/************ General styles ************/
body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ion-tab-bar {
  padding-top: 2px;
  border-top: 1px transparent solid;
  background-clip: content-box, border-box;
  background-image: linear-gradient(
      var(--ion-background-color),
      var(--ion-background-color)
    ),
    linear-gradient(
      to left,
      var(--ion-color-primary),
      var(--ion-color-secondary)
    );
}

ion-icon {
  font-size: 24px;
}

.labelTabs {
  font-size: 0.7rem;
}

.title {
  margin-top: 15px;
  color: var(--ion-color-secondary-tint);
}

.p-weak {
  color: var(--ion-text-color);
  opacity: 0.4;
}

/************ Header general ************/
ion-toolbar .sc-ion-searchbar-ios-h {
  padding: 3px 0;
  height: 30px;
}

/************ Menu ************/
.headerGraphic {
  padding: 20px;
}

.labelMenu {
  font-size: 0.9rem;
}

.menuModal .modal-wrapper {
  height: 100%;
  width: 100%;
}

.menuModalDesktop {
  display: flex;
  justify-content: flex-start;
}

.menuModalDesktop .modal-wrapper {
  height: 100%;
  width: 400px;
}

/* Feedback Form */
.alertMsg {
  color: var(--ion-color-danger);
  padding-bottom: 10px;
  font-size: 0.7rem;
}

/* Toggler Day and Night */
.toggle {
  height: 30px;
  width: 60px;
  border-radius: 50px;
  background-image: linear-gradient(aqua, skyblue);
  position: relative;
  cursor: pointer;
}

.toggle.night {
  background-image: linear-gradient(midnightblue, rebeccapurple);
}

.moon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #fde833;
  position: absolute;
  top: 2px;
  left: 2px;
  box-shadow: 0 0 10px #fde833;
  z-index: 1;
  transition: all 0.3s ease;
}

.moon > .crater {
  background: burlywood;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.4) inset;
}

.night .crater {
  opacity: 0.4;
}

.crater:first-child {
  left: 2px;
  top: 5px;
  height: 5px;
  width: 10px;
  transform: rotate(-45deg);
}

.crater:last-child {
  left: 15px;
  top: 5px;
  height: 5px;
  width: 6px;
  transform: rotate(45deg);
}

.night > .moon {
  background: whitesmoke;
  box-shadow: 0 0 5px whitesmoke;
  transform: translate(30px, 0);
}

.shape {
  position: absolute;
  background: whitesmoke;
  border-radius: 50%;
}

.shape.sm {
  height: 3px;
  width: 13px;
  top: 45%;
  left: 70%;
  transition: all 0.3s ease;
}

.shape.md {
  height: 5px;
  width: 25px;
  top: 15%;
  left: 15%;
  z-index: 2;
}

.shape.lg {
  height: 8px;
  width: 35px;
  top: 60%;
  left: 13%;
}

.night .shape {
  background: lightgrey;
  box-shadow: 0 0 10px 2px violet;
}

.night .shape.sm {
  height: 3px;
  width: 3px;
  transform: translate(-19px, 0);
}

.night .shape.sm:first-of-type {
  transform: translate(-35px, -5px);
}

.night .shape.md {
  height: 5px;
  width: 5px;
  transform: translate(10px, 0);
}

.night .shape.lg {
  height: 8px;
  width: 8px;
  transform: translate(-2px, 0);
}

/*********** Tab Start ************/
.home {
  --background: none;
  background-image: url(./images/Ice\ Cream\ pablo-merchan-montes-MXovqM130UI-unsplash.jpg);
  background-size: cover;
  background-position: top;
}

/* Run animation and overlay effect */
.run-text {
  display: flex;
  justify-content: center;
  position: relative;
}

.run-text-wrapper {
  display: inline-block;
  position: relative;
}

.run-text-words {
  display: inline;
  position: absolute;
}

.run-text-wrapper .run-text-word {
  color: var(--ion-color-secondary);
  font-size: 0.7em;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  -webkit-animation: run 9s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s 1;
  animation: run 9s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s 1;
}

.run-text-wrapper .run-text-word:nth-child(2) {
  color: var(--ion-color-primary);
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.run-text-wrapper .run-text-word:nth-child(3) {
  color: var(--ion-color-warning);
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}
@-webkit-keyframes run {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
  }
}
@keyframes run {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
  }
}

.run-text-wrapper .run-text-final {
  color: var(--ion-color-warning);
  font-size: 0.7em;
  visibility: hidden;
  animation: show ease-in 12s;
  animation-fill-mode: forwards;
}

.run-text-wrapper .run-text-final:nth-child(2) {
  color: var(--ion-color-secondary);
}

.run-text-wrapper .run-text-final:nth-child(3) {
  color: var(--ion-color-primary);
}

@keyframes show {
  70% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  opacity: 0.15;
  background: #fff;
}

.startIceIcon {
  font-size: 11rem;
  color: var(--ion-color-dark);
  opacity: 0.6;
  transform: rotate(30deg);
}

.start-btn-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.start-btn-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background-color: var(--ion-background-color);
}

.start-btn-container a .btn-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px var(--ion-color-primary) solid;
  opacity: 0;
  animation-name: scaleIn;
  animation-delay: 3.5s;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.6, 0.6);
  }
  95% {
    opacity: 0.4;
    visibility: visible;
    transform: scale(1.3, 1.3);
  }
  100% {
    opacity: 0;
    visibility: visible;
    transform: scale(1.4, 1.4);
  }
}

.start-btn-container a .btn-border {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px transparent solid;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(
      var(--ion-background-color),
      var(--ion-background-color)
    ),
    linear-gradient(
      to top,
      var(--ion-color-primary),
      var(--ion-color-secondary)
    );
}

.start-btn-container a .btn-text {
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--ion-text-color);
}

/********** Entdecken & Map **********/

.headerMap {
  width: 100%;
  max-height: 120px;
}

.segmentAbsolute {
  position: absolute;
  width: 100%;
}

.mapContainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.control {
  display: flex;
  width: 100%;
}

.zoomIcons {
  color: var(--ion-text-color);
  background-color: var(--ion-background-color);
  margin-right: 0;
}

.zoom-control-out {
  margin-left: 0;
}

.center-control {
  margin-left: auto;
  color: var(--ion-color-danger-tint);
  background-color: var(--ion-background-color);
}

.mapModal {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mapModal .modal-wrapper {
  height: 30%;
  width: 100%;
}

/* important to move modal-shadow to allow backdropDismiss on iOS  */
.modal-shadow.sc-ion-modal-ios {
  top: 100%;
}
