/************ General styles ************/
body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ion-tab-bar {
  padding-top: 2px;
  border-top: 1px transparent solid;
  background-clip: content-box, border-box;
  background-image: linear-gradient(
      var(--ion-background-color),
      var(--ion-background-color)
    ),
    linear-gradient(
      to left,
      var(--ion-color-primary),
      var(--ion-color-secondary)
    );
}

ion-icon {
  font-size: 24px;
}

.labelTabs {
  font-size: 0.7rem;
}

.title {
  margin: 20px;
  color: var(--ion-color-tertiary);
}

.p-weak {
  color: var(--ion-text-color);
  opacity: 0.4;
}

a {
  text-decoration: none;
  color: var(--ion-color-primary);
}

a:hover {
  color: var(--ion-color-tertiary);
}

.errorToast {
  --background: var(--ion-color-danger);
  color: #fff;
  font-size: 0.8rem;
}

ion-badge {
  margin: -2px;
  padding: 3px;
  border: 1px solid var(--ion-text-color);
}

.confirm-btn {
  height: 30px;
}

/************ Header general ************/
ion-toolbar .sc-ion-searchbar-ios-h {
  padding: 3px 0;
  height: 30px;
}

/************ Menu ************/
.headerGraphic {
  padding: 20px;
}

.labelMenu {
  font-size: 0.9rem;
}

.menuModal .modal-wrapper {
  height: 100%;
  width: 100%;
}

.menuModalDesktop {
  display: flex;
  justify-content: flex-start;
}

.menuModalDesktop .modal-wrapper {
  height: 100%;
  width: 400px;
}

/************ Feedback Form ************/
.alertMsg {
  color: var(--ion-color-danger);
  padding-bottom: 10px;
  font-size: 0.7rem;
}

/************ Profil Page ************/

/* Ice cream cone */
.iceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;
  width: 100%;
}

.icecream {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  position: relative;
  box-shadow: 10px 5px 20px #4a4a4a;
  opacity: 0.7;
}

.cone {
  margin-top: -20px;
  border-right: 29px solid transparent;
  border-left: 29px solid transparent;
  border-top: 70px solid tan;
  z-index: 1;
}

/************ Toggler Day and Night ************/
.toggle {
  height: 30px;
  width: 60px;
  border-radius: 50px;
  background-image: linear-gradient(aqua, skyblue);
  position: relative;
  cursor: pointer;
}

.toggle.night {
  background-image: linear-gradient(midnightblue, rebeccapurple);
}

.moon {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background: #fde833;
  position: absolute;
  top: 2px;
  left: 2px;
  box-shadow: 0 0 10px #fde833;
  z-index: 1;
  transition: all 0.3s ease;
}

.moon > .crater {
  background: burlywood;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  box-shadow: 0 5px 5px rgb(0, 0, 0, 0.4) inset;
}

.night .crater {
  opacity: 0.4;
}

.crater:first-child {
  left: 2px;
  top: 5px;
  height: 5px;
  width: 10px;
  transform: rotate(-45deg);
}

.crater:last-child {
  left: 15px;
  top: 5px;
  height: 5px;
  width: 6px;
  transform: rotate(45deg);
}

.night > .moon {
  background: whitesmoke;
  box-shadow: 0 0 5px whitesmoke;
  transform: translate(30px, 0);
}

.shape {
  position: absolute;
  background: whitesmoke;
  border-radius: 50%;
}

.shape.sm {
  height: 3px;
  width: 13px;
  top: 45%;
  left: 70%;
  transition: all 0.3s ease;
}

.shape.md {
  height: 5px;
  width: 25px;
  top: 15%;
  left: 15%;
  z-index: 2;
}

.shape.lg {
  height: 8px;
  width: 35px;
  top: 60%;
  left: 13%;
}

.night .shape {
  background: lightgrey;
  box-shadow: 0 0 10px 2px violet;
}

.night .shape.sm {
  height: 3px;
  width: 3px;
  transform: translate(-19px, 0);
}

.night .shape.sm:first-of-type {
  transform: translate(-35px, -5px);
}

.night .shape.md {
  height: 5px;
  width: 5px;
  transform: translate(10px, 0);
}

.night .shape.lg {
  height: 8px;
  width: 8px;
  transform: translate(-2px, 0);
}

/*********** Searchbar ************/
.searchbar {
  --background: var(--ion-background-color);
  --border-radius: 5px;
  --placeholder-color: var(--ion-color-medium-shade);
  --placeholder-background: var(--ion-color-medium-shade);
}

.searchbar-input::placeholder {
  background-color: var(--ion-item-background);
}

.infoIcon:hover {
  border: 1px solid var(--ion-color-primary);
  border-radius: 90%;
  background-color: var(--ion-background-color);
}

.my-custom-class .popover-content {
  background: var(--ion-background-color);
  padding: 10px;
  width: 150px;
}

/* Searchbar Autocomplete Google */
.container-autocomplete {
  display: flex;
  width: 100%;
  padding: 0 5px;
}

.search-autocomplete {
  background: var(--ion-background-color);
  background-position: left 8px center;
  font-size: 16px;
  font-weight: 400;
  height: auto;
  line-height: 30px;
  border-radius: 5px;
  padding: 6px 10px;
  border-radius: var(--border-radius);
  width: 100%;
  border: 0;
  outline: none;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  appearance: none;
  outline-offset: -2px;
}

.search-autocomplete::placeholder {
  color: var(--ion-color-medium-shade);
  background-color: var(--ion-item-background);
}

.pac-container {
  background: var(--ion-background-color);
}

.pac-icon {
  display: none;
}

.pac-item {
  padding: 3px 10px 0 10px;
  border: 0;
  border-bottom: 1px solid var(--ion-item-background);
}

.pac-item:hover {
  background: var(--ion-background-color);
  opacity: 0.8;
}

.pac-item-query {
  font-weight: 300;
  color: var(--ion-color-primary-tint);
}

.pac-matched {
  font-weight: 600;
  color: var(--ion-color-primary);
}

.pac-item-selected {
  background: var(--ion-background-color);
}

.pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
  background-image: none !important;
  height: 0px;
}

/*********** Tab Home ************/
.home {
  --background: none;
  background-size: cover;
  background-position: center;
}

/* Run animation and overlay effect */
.run-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.run-text-wrapper {
  display: inline-block;
  position: relative;
}

.run-text-words {
  display: inline;
  position: absolute;
}

.run-text-wrapper .run-text-word {
  color: var(--ion-color-secondary);
  font-size: 0.7em;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  -webkit-animation: run 9s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s 1;
  animation: run 9s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s 1;
}

.run-text-wrapper .run-text-word:nth-child(2) {
  color: var(--ion-color-tertiary);
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.run-text-wrapper .run-text-word:nth-child(3) {
  color: var(--ion-color-warning);
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

@-webkit-keyframes run {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
  }
}
@keyframes run {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
  }
}

.run-text-wrapper .run-text-final {
  color: var(--ion-color-warning);
  font-size: 0.7em;
  visibility: hidden;
  animation: show ease-in 12s;
  animation-fill-mode: forwards;
}

.run-text-wrapper .run-text-final:nth-child(2) {
  color: var(--ion-color-secondary);
}

.run-text-wrapper .run-text-final:nth-child(3) {
  color: var(--ion-color-tertiary);
}

@keyframes show {
  70% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 130%;
  opacity: 0.55;
  background: var(--ion-background-color);
  z-index: -1;
}

.overlay-light {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 130%;
  opacity: 0.75;
  background: #233033;
  z-index: -1;
}

.startIceIcon {
  align-self: center;
  font-size: 9rem;
  color: var(--ion-color-dark);
  opacity: 0.6;
  transform: rotate(30deg);
}

.start-btn-wrapper {
  height: 140px;
}

.start-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.start-btn-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  font-size: 1.2rem;
  position: relative;
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 50%;
  background-color: var(--ion-background-color);
}

.start-btn-container a .btn-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px var(--ion-color-primary) solid;
  opacity: 0;
  animation-name: scaleIn;
  animation-delay: 3.5s;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.6, 0.6);
  }
  95% {
    opacity: 0.4;
    visibility: visible;
    transform: scale(1.3, 1.3);
  }
  100% {
    opacity: 0;
    visibility: visible;
    transform: scale(1.4, 1.4);
  }
}

.start-btn-container a .btn-border {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px transparent solid;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(
      var(--ion-item-background),
      var(--ion-item-background)
    ),
    linear-gradient(
      to top,
      var(--ion-color-primary),
      var(--ion-color-secondary)
    );
}

.start-btn-container a .btn-text {
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--ion-text-color);
}

/********** Tab Entdecken & Map **********/

.headerMap {
  width: 100%;
  max-height: 120px;
}

.segmentAbsolute {
  position: absolute;
  width: 100%;
}

.containerMap {
  position: relative;
  width: 100%;
  height: 100%;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.control-left {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
}

.control-right-top {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 1;
}

.control-right-bottom {
  position: absolute;
  top: 47px;
  right: 3px;
  z-index: 1;
}

.zoomIcons {
  color: var(--ion-text-color);
  background-color: var(--ion-item-background);
  margin-bottom: 0;
  height: 35px;
}

.zoom-control-out {
  margin-top: 0;
}

.all-control,
.viewport-control {
  --background: var(--ion-item-background);
  color: var(--ion-text-color);
  font-size: 0.7rem;
  text-transform: none;
  letter-spacing: 0;
  margin: 4px 4px 0 0;
  height: 40px;
}

.add-control,
.where-control,
.center-control,
.more-infos {
  --background: var(--ion-item-background);
  font-size: 0.7rem;
  text-transform: none;
  letter-spacing: 0;
  margin: 4px 4px 0 0;
}

.add-control,
.where-control,
.more-infos {
  color: var(--ion-color-primary);
}
.center-control {
  color: var(--ion-color-danger-tint);
}

.mapModal,
.newLocModal {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mapModal .modal-wrapper {
  height: 70%;
  width: 100%;
}

.modalImage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.3;
  z-index: -1;
}

.modalOverlay {
  background: #233033;
}

.modalItem {
  --background: transparent;
}

.newLocModal .modal-wrapper {
  height: 100%;
  width: 100%;
}

/* important to move modal-shadow to allow backdropDismiss on iOS  */
.modal-shadow.sc-ion-modal-ios {
  top: 100%;
}

.check-btn {
  font-size: 0.7rem;
  text-transform: none;
  min-height: 30px;
  align-self: center;
}

/*********** Tab Bewerten ************/

.colorPicker {
  margin: 0 auto;
}

.colorPicker > div {
  width: 100% !important;
}

.colorPicker > div > span > div {
  border-radius: 90%;
  box-shadow: 2px 2px 4px #000000;
}
