/************ General styles ************/
body {
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ion-tab-bar {
  padding-top: 2px;
  border-top: 1px transparent solid;
  background-clip: content-box, border-box;
  background-image: linear-gradient(var(--ion-background-color), var(--ion-background-color)),
    linear-gradient(to left, var(--ion-color-primary), var(--ion-color-secondary));
}

ion-icon {
  font-size: 24px;
}

ion-button[type='submit'] {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.labelTabs {
  font-size: 0.7rem;
}

.title {
  margin: 20px;
  color: var(--ion-color-tertiary);
}

.p-weak {
  color: var(--ion-text-color);
  opacity: 0.4;
}

.span-small {
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: var(--ion-color-primary);
}

a:hover {
  color: var(--ion-color-primary-shade);
}

.errorToast {
  --background: var(--ion-color-danger);
  color: #fff;
  font-size: 0.8rem;
}

ion-badge {
  margin: -2px;
  padding: 3px;
  border: 1px solid var(--ion-text-color);
}

.cardIonic {
  max-width: 450px;
  margin: 15px auto;
}

ul,
ol {
  padding-left: 1rem;
}

li {
  font-size: 0.9rem;
  padding-bottom: 3px;
}

.confirm-btn {
  height: 37px;
  text-transform: none;
  align-self: center;
  opacity: 1;
  margin: 0 auto;
}

.confirm-btn-block {
  height: 37px;
  text-transform: none;
  align-self: center;
  opacity: 1;
  margin: 0 auto;
  width: 100%;
}

.headerImg {
  width: 100%;
  max-height: 120px;
}

.donate-btn {
  width: 230px;
  height: 230px;
  position: absolute;
  top: -220px;
  left: -110px;
  font-size: 0.8rem;
  text-align: center;
}

.logo-btn {
  font-size: 0.8rem;
}

.infoText {
  font-size: 0.8rem;
  padding: 0 25px;
  color: var(--ion-text-over-background);
  opacity: 0.6;
}

.height20 {
  height: 20px;
}

.hoverTransparentBtn {
  --background-hover: transparent;
}

.toastOpen {
  --background: var(--ion-color-primary);
  --button-color: var(--ion-color-text);
}

/************ Header general ************/
.headerToolbar {
  --min-height: 40px;
  --padding-top: 0;
  --padding-bottom: 0;
  z-index: 1;
}

.info-popover .popover-content {
  background: var(--ion-background-color);
  font-size: 0.8rem;
  line-height: 1.2;
  padding: 5px;
  width: 150px;
  text-align: center;
}

.rotateIcon {
  color: var(--ion-color-primary);
  transition: transform 4s;
}

.rotateIcon:hover {
  transform: rotate(360deg);
  transition: transform 4s;
}

/************ Menu ************/
.headerGraphic {
  padding: 0 20px 0 10px;
}

.labelMenu {
  font-size: 0.9rem;
}

.menuModal .modal-wrapper {
  height: 100%;
  width: 100%;
}

.menuModalDesktop {
  display: flex;
  justify-content: flex-start;
}

.menuModalDesktop .modal-wrapper {
  height: 100%;
  width: 400px;
}

.rotateIcon90Forward {
  transform: rotate(90deg);
  transition: transform 2s;
}

.rotateIcon90Back {
  transform: rotate(0deg);
  transition: transform 2s;
}

/************ Feedback Form ************/
.alertMsg {
  color: var(--ion-color-danger-tint);
  padding-bottom: 10px;
  font-size: 0.7rem;
}

/************ Profil Page ************/

/* Ice cream cone */
.iceContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90px;
  width: 100px;
  transform: rotate(10deg);
}

.icecream {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  position: relative;
  box-shadow: 10px 5px 20px #4a4a4a;
}

.cone {
  margin-top: -15px;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  border-top: 50px solid tan;
  z-index: 1;
}

.labelFlavor {
  font-size: 0.8rem;
  text-align: center;
  width: 100px;
  margin-bottom: 10px;
  color: var(--ion-color-primary-shade);
}

.successMsg {
  color: var(--ion-color-success);
  font-size: 0.7rem;
}

/*********** Searchbar ************/
ion-searchbar .searchbar-input-container .searchbar-input {
  font-size: 0.9rem;
}

.searchbar {
  height: 50px;
  margin-left: 5px;
  background-color: red;
}

.sc-ion-searchbar-ios-h {
  height: 43px;
  padding: 2px;
  --border-radius: 5px;
}

.searchbar-input::placeholder {
  font-size: 0.8rem;
}

.sc-ion-searchbar-ios-h {
  --background: var(--ion-card-background);
}

.infoIcon:hover {
  border: 1px solid var(--ion-color-primary);
  border-radius: 50%;
  background-color: var(--ion-background-color);
  cursor: pointer;
}

.warningIcon:hover {
  border: 1px solid var(--ion-color-warning);
  border-radius: 50%;
  background-color: var(--ion-background-color);
  cursor: pointer;
}

.mark,
mark {
  padding: 0;
}

.hightlighter-wrapper {
  font-size: 0.8rem;
  font-weight: 400;
  padding: 0 10px;
}

.highlight {
  font-weight: 600;
  background-color: transparent;
  color: var(--ion-color-primary);
}

/* Autocomplete Component User Input City */
.suggestions {
  border-top-width: 0;
  list-style: none;
  font-size: 0.8rem;
  margin-top: 0;
  max-height: 143px;
  overflow-y: auto;
  padding-left: 0;
  width: 100%;
}

.suggestions li {
  padding: 4px;
}

.suggestion-active,
.suggestions li:hover {
  background-color: var(--ion-card-background);
  color: var(--ion-color-primary);
  cursor: pointer;
}

.suggestions li:not(:last-of-type) {
  border-bottom: 1px solid var(--ion-toolbar-background);
}

/* Searchbar Autocomplete Google */
.container-autocomplete {
  display: flex;
  width: 100%;
  padding: 0 2px;
}

.search-autocomplete {
  background: var(--ion-item-background);
  background-position: left 8px center;
  font-size: 0.8rem;
  font-weight: 400;
  height: auto;
  line-height: 30px;
  border-radius: 5px;
  padding: 6px 10px;
  border-radius: var(--border-radius);
  width: 100%;
  border: 0;
  outline: none;
  box-sizing: border-box;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  appearance: none;
  outline-offset: -2px;
}

.search-autocomplete::placeholder {
  color: var(--ion-color-medium-shade);
}

.pac-container {
  background: var(--ion-item-background);
}

.pac-icon {
  display: none;
}

.pac-item {
  padding: 3px 10px 0 10px;
  border: 0;
  border-bottom: 1px solid var(--ion-background-color);
}

.pac-item:hover {
  background: var(--ion-background-color);
  opacity: 0.8;
}

.pac-item-query {
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--ion-text-color);
}

.pac-matched {
  font-weight: 600;
  color: var(--ion-color-primary);
}

.pac-item-selected {
  background: var(--ion-background-color);
}

.pac-container:after {
  /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */
  background-image: none !important;
  height: 0px;
}

/*********** Home Tab ************/
.home {
  --background: none;
  background-size: cover;
  background-position: center;
}

.fabOpen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--ion-color-primary);
  opacity: 0.3;
  z-index: 1;
}

/* Run animation and overlay effect */
.run-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.run-text-wrapper {
  display: inline-block;
  position: relative;
}

.run-text-words {
  display: inline;
  position: absolute;
}

.run-text-wrapper .run-text-word {
  color: var(--ion-color-secondary);
  font-size: 0.7em;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 700;
  -webkit-animation: run 9s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s 1;
  animation: run 9s cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s 1;
}

.run-text-wrapper .run-text-word:nth-child(2) {
  color: var(--ion-color-tertiary);
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}
.run-text-wrapper .run-text-word:nth-child(3) {
  color: var(--ion-color-warning);
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

@-webkit-keyframes run {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
  }
}
@keyframes run {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  10% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  30% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    opacity: 0;
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }
  100% {
    opacity: 0;
  }
}

.run-text-wrapper .run-text-final {
  color: var(--ion-color-warning);
  font-size: 0.7em;
  visibility: hidden;
  animation: show ease-in 12s;
  animation-fill-mode: forwards;
}

.run-text-wrapper .run-text-final:nth-child(2) {
  color: var(--ion-color-secondary);
}

.run-text-wrapper .run-text-final:nth-child(3) {
  color: var(--ion-color-tertiary);
}

@keyframes show {
  70% {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateX(-40px);
    transform: translateX(-40px);
  }
  100% {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 130%;
  opacity: 0.55;
  background: var(--ion-background-color);
  z-index: -1;
}

.overlay-light {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 130%;
  opacity: 0.75;
  background: #233033;
  z-index: -1;
}

.startIceIcon {
  align-self: center;
  font-size: 9rem;
  color: var(--ion-color-dark);
  opacity: 0.6;
  transform: rotate(30deg);
}

.start-btn-wrapper {
  height: 140px;
  width: 140px;
  --background-hover: transparent;
}

.start-btn-container {
  display: flex;
  justify-content: center;
}

.start-btn-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  position: relative;
  width: 105px;
  height: 105px;
  border-radius: 50%;
  background-color: var(--ion-background-color);
}

.start-btn-container div .btn-text {
  position: absolute;
  top: 15px;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1.1rem;
  color: var(--ion-text-over-background);
  transform: rotate(10deg);
  transition: all 1s;
  z-index: 1;
}

.start-btn-container div .btn-text:hover {
  transform: scale(1) rotate(0deg);
  transition: all 1s;
}

.start-btn-container div .btn-ring {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 15px var(--ion-color-primary) solid;
  opacity: 0;
  animation-name: scaleIn;
  animation-delay: 3.5s;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.36, 0.11, 0.89, 0.32);
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: scale(0.6, 0.6);
  }
  95% {
    opacity: 0.4;
    visibility: visible;
    transform: scale(1.3, 1.3);
  }
  100% {
    opacity: 0;
    visibility: visible;
    transform: scale(1.4, 1.4);
  }
}

.start-btn-container div .btn-border {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px transparent solid;
  background-origin: border-box;
  background-clip: content-box, border-box;
  background-image: linear-gradient(var(--ion-card-background), var(--ion-card-background)),
    linear-gradient(to top, var(--ion-color-primary), var(--ion-color-secondary));
}

.predictItem {
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin: 3px;
}

.slideMobile {
  width: 100%;
  height: 120%;
  margin-top: 120px;
  background: transparent;
}

.slideDesktop {
  width: 100%;
  margin-top: 50px;
  padding-bottom: 30px;
  background: transparent;
}

.slideCardContainer {
  width: 95%;
  max-width: 450px;
}

.slideCard {
  margin-top: 23px;
}

.slideBtn {
  position: absolute;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0 auto;
  height: 30px;
  width: 30px;
  --border-radius: 50%;
  z-index: 2;
}

.swiper-pagination-bullet {
  background-color: var(--ion-background-color);
  width: 10px;
  height: 10px;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--ion-color-primary);
  opacity: 1;
}

.noTopLocCard {
  padding: 5px 5px 10px 5px;
  background-color: var(--ion-background-color);
  color: var(--ion-text-color);
}

.highlightSpan {
  font-weight: bold;
  border-bottom: 3px solid var(--ion-color-primary);
}

/********** Tab Entdecken & Map **********/
.segments {
  margin: 0 auto;
  width: 96%;
}

.segmentBtn {
  --background-hover: transparent;
  --color-hover: var(--ion-color-primary);
}

.headerMap {
  width: 100%;
  max-height: 120px;
}

.containerMap {
  position: relative;
  width: 100%;
  height: 100%;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.control-left {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
}

.control-right-top {
  position: absolute;
  top: 3px;
  right: 3px;
  z-index: 1;
}

.control-right-bottom {
  position: absolute;
  top: 39px;
  right: 3px;
  z-index: 1;
}

.zoomIcons {
  color: var(--ion-text-color);
  background-color: var(--ion-item-background);
  margin-bottom: 0;
  height: 33px;
}

.zoom-control-out {
  margin-top: 0;
}

.all-control,
.viewport-control,
.update-btn {
  --background: var(--ion-item-background);
  color: var(--ion-text-color);
  font-size: 0.7rem;
  text-transform: none;
  letter-spacing: 0;
  margin: 4px 4px 0 0;
  height: 33px;
}

.add-control,
.where-control,
.center-control,
.update-btn {
  --background: var(--ion-item-background);
  font-size: 0.7rem;
  text-transform: none;
  letter-spacing: 0;
  margin: 4px 4px 0 0;
}

.add-control,
.where-control,
.update-btn {
  color: var(--ion-color-primary);
}

.center-control {
  color: var(--ion-color-danger-tint);
}

.close-center-btn {
  margin-top: 4px;
  align-self: flex-start;
  color: var(--ion-color-danger-tint);
}

.mapModal,
.newLocModal {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.mapModal .modal-wrapper,
.newLocModal .modal-wrapper {
  height: 100%;
  width: 100%;
}

.modalImage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: 0.4;
  z-index: -1;
  mask-image: linear-gradient(to top, transparent 0%, black);
}

.modalOverlay {
  background: #233033;
}

.modalItem {
  --background: transparent;
}

.modalItemSmall {
  --background: transparent;
  --min-height: 40px;
}

.websiteLink,
.itemTextSmall,
.itemTextSmallWarning,
.textSmallLight {
  font-size: 0.8rem;
  color: var(--ion-color-primary-shade);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.itemTextSmallWarning {
  color: var(--ion-color-warning);
}

.textSmallLight {
  color: var(--ion-text-over-background);
  opacity: 0.6;
  line-height: 1.1rem;
  margin-top: 4px;
}

.websiteLink:hover {
  color: var(--ion-color-primary-tint);
}

.textSmallGrey {
  font-size: 0.8rem;
  line-height: 1rem;
  opacity: 0.5;
}

.checkMsg {
  position: absolute;
  bottom: 0;
  background-color: var(--ion-color-success-shade);
  color: #fff;
  font-size: 0.7rem;
  text-align: center;
  padding: 5px 10px;
  width: 100%;
}

/* important to move modal-shadow to allow backdropDismiss on iOS  */
.modal-shadow.sc-ion-modal-ios {
  top: 100%;
}

.check-btn {
  font-size: 0.7rem;
  text-transform: none;
  min-height: 33px;
  align-self: center;
}

.click-btn {
  font-size: 0.7rem;
  text-transform: none;
  min-height: 33px;
  align-self: center;
  opacity: 1;
}

.flavor-btn {
  font-size: 0.7rem;
  min-height: 28px;
  opacity: 1;
  color: var(--ion-color-primary);
  background-color: #f9ce6410;
  border: 1px solid var(--ion-color-primary);
  border-radius: 5px;
}

.coneIcon {
  transform: rotate(10deg);
}

.addLocForm {
  --background: var(--ion-background-color);
}

/*********** Filter *************/
.labelFilter {
  --background: var(--ion-card-background);
  color: var(--ion-text-color);
  font-size: 0.8rem;
  line-height: 1rem;
}

/*********** Modal Selected Location *************/
.ratingContainer {
  padding-top: 4px;
  height: 20px;
}

.react-stars {
  height: 20px;
}

.itemRating .react-stars {
  height: 50px;
}

.ratingNum {
  border-radius: 5px;
  background-color: var(--ion-color-step-900);
  color: var(--ion-color-primary-contrast);
  opacity: 1;
  font-size: 0.7rem;
  height: 19px;
  width: 25px;
  margin: 2px 0 0 0;
}

.commentNum {
  font-size: 0.7rem;
  height: 19px;
  min-width: 25px;
  margin-right: 7px;
}

.pricingInfo {
  /* position: absolute; */
  /* top: 15px;
  right: 20px; */
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid var(--ion-color-primary);
  background-color: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
  font-size: 0.7rem;
  height: 60px;
  width: 60px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: rotate(15deg);
  line-height: 1.1rem;
  box-shadow: 0px 0px 10px 2px var(--ion-color-primary);
}

.priceStyling::first-letter {
  font-size: 1.5rem;
  font-weight: 800;
}

.pricingInfoAsked {
  border-radius: 10px;
  background-color: var(--ion-color-step-900);
  color: var(--ion-color-primary-contrast);
  font-size: 0.7rem;
  height: 55px;
  width: 90px;
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
}

.locationTitle {
  color: var(--ion-text-color);
  font-weight: 600;
  letter-spacing: 1px;
}

.underlining {
  position: relative;
  bottom: 11px;
  background-color: var(--ion-color-primary);
  height: 0.6rem;
  width: 100%;
  opacity: 0.2;
  z-index: 0;
}

.commentText {
  color: var(--ion-text-color);
  font-size: 0.8rem;
  line-height: 1rem;
}

.commentTag {
  font-size: 0.7rem;
  color: var(--ion-color-primary);
  text-align: center;
  margin-right: 10px;
  padding: 2px 7px 3px 7px;
  background-color: #fce3ab15;
  border: 1px solid var(--ion-color-primary);
  border-radius: 10px;
  cursor: default;
}

.smallBtn {
  font-size: 0.2rem;
  width: 25px;
  height: 25px;
  margin: 0;
}

.actionSheet .action-sheet-group .action-sheet-title {
  background: var(--ion-item-background);
  color: var(--ion-text-color);
  font-size: 0.9rem;
  text-align: center;
}

.actionSheet .action-sheet-group .action-sheet-destructive,
.actionSheet .action-sheet-group .action-sheet-cancel {
  color: var(--ion-text-color);
  font-size: 0.9rem;
  font-weight: 600;
  background: var(--ion-card-background);
}

.action-sheet-cancel.sc-ion-action-sheet-ios::after {
  background: var(--ion-card-background);
}

.borderBottom {
  border-bottom: 1px solid var(--ion-toolbar-background);
}

.more-infos {
  color: var(--ion-color-primary);
  --background: var(--ion-background-color);
  height: 35px;
  font-size: 0.7rem;
  text-transform: none;
  letter-spacing: 0;
}

/*********** Tab Bewerten ************/
ion-range::part(knob) {
  --knob-size: 17px;
}

.inputField {
  --placeholder-color: var(--ion-color-medium);
}

.priceInfo {
  margin: 0 auto;
}

.flavor-search-preview {
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 100%;
  box-shadow: 10px 5px 20px #4a4a4a;
}

.colorPicker {
  margin: 0 auto;
}

.colorPicker > div {
  width: 100% !important;
}

.colorPicker > div > span > div {
  border-radius: 90%;
  box-shadow: 2px 2px 4px #000000;
}

.circle-picker > span:first-child > div {
  background-color: #b53134;
  background-image: repeating-linear-gradient(
    135deg,
    transparent,
    transparent 3px,
    #fff 3px,
    #fff 6px
  );
}

.textField {
  min-height: 70px;
}

/*********** Tab Favoriten ************/
.backgroundTransparent {
  background-color: transparent;
  box-shadow: none;
}

.favReorderOff {
  color: var(--ion-color-primary);
  --background: var(--ion-background-color);
  height: 35px;
  font-size: 0.7rem;
  text-transform: none;
  letter-spacing: 0;
}

.favReorderOn {
  color: var(--ion-background-color);
  --background: var(--ion-color-primary);
  height: 35px;
  font-size: 0.7rem;
  text-transform: none;
  letter-spacing: 0;
}

.reorderItem {
  height: 29px;
}

.favOrderNum {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.8rem;
  font-weight: bold;
  margin: 0 auto;
  height: 27px;
  width: 34px;
  --border-radius: 0 0 30% 0;
  z-index: 2;
}
